body{
    text-align : center;
}

.top{
    margin-top : 5rem;
    display: grid;
    grid-template-columns : 1fr 2fr 1fr;
    grid-column-gap : 1em;
}

.columns{
    font-size: 2rem;
    color: aqua;
    text-align: center;
    border: 3px solid black;
}
.matchesfound{

font-size: 2rem;

border: 3px solid black;
width: 50%;
margin: auto;
margin-top: 4rem;

}
.container > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.same{
    background-color: green;
}

button{
    font-size: 20px;
    font-style: oblique;
    padding: 1em;
    font-size: 1em;
    background-color: yellow;
    font-weight: bold;
    font-family: arial;
    border-radius: 4px;
}